@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --background-primary: #000814;
  --background-secondary: #001429;
  --background-terciary: #0080af;
  --text-primary: #ffffff;
  --text-secondary: #dddddd;

  --light: #fff;
  --dark: #000;

  --shadow: rgb(0, 0, 0, 0.3);

  --font-title: "Orbitron", sans-serif;
  --font-text: "Space Grotesk", sans-serif;

  --xs: 0.5em;
  --sm: 1em;
  --md: 2.5em;
  --xl: 4em;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  color: var(--text-primary);
}

h1,
h2 {
  font-family: var(--font-title);
}

h2 {
  font-size: clamp(calc(var(--sm) + 12px), 3vw, var(--xl));
}

h3 {
  font-family: var(--font-title);
  color: var(--text-primary);
  font-size: clamp(calc(var(--sm) + 10px), 1.5vw, var(--md));
  letter-spacing: 1.1px;

  &::after {
    content: "";
    display: block;
    width: 250px;
    height: 5px;
    border-radius: 40px;
    background-color: var(--background-terciary);
    margin-bottom: var(--sm);
  }
}

p {
  font-family: var(--font-text);
  color: var(--text-primary);
}

.container {
  background-color: var(--background-primary);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  min-height: 100px;
  backdrop-filter: blur(12px);
  padding: 1em;

  @media (max-width: 720px) {
    flex-direction: column;
    gap: 50px;
  }

  h1 {
    font-size: clamp(var(--sm), 1.5vw, var(--md));
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    font-family: var(--font-title);
    color: var(--text-primary);
  }

  .title-menu {
    display: flex;
    align-items: center;

    @media (max-width: 720px) {
      width: 100%;
      gap: 50px;
      justify-content: space-evenly;
    }
  }

  #menuIcon {
    display: none;

    @media (max-width: 720px) {
      display: flex;
    }
  }

  menu {
    display: flex;
    align-items: center;
    gap: 50px;

    @media (max-width: 720px) {
      display: none;
      gap: 10px;
    }

    nav {
      display: flex;
      align-items: center;
      gap: 20px;

      > a {
        color: var(--text-primary);
        font-size: var(--sm);
        text-decoration: none;
        position: relative;
        font-family: var(--font-text);

        &:hover::after {
          transform: scaleX(1);
        }

        &::after {
          content: "";
          position: absolute;
          height: 1px;
          width: 100%;
          left: 0;
          bottom: -4px;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.4s ease;
          background-color: var(--text-primary);
        }
      }
    }

    .theme {
      display: flex;
      font-size: clamp(var(--sm), 1.5vw, var(--md));
      align-items: center;
      border: 3px solid var(--background-terciary);
      border-radius: var(--xs);
      padding: 10px 20px;
      transition: all 0.4s ease;

      i {
        color: var(--text-primary);
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;

  section {
    width: 80%;
    padding: 20px 40px;
    margin: clamp(1rem, 5vw, 12.5rem) 0;

    @media (max-width: 720px) {
      width: 100%;
    }
  }

  .about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: clamp(1em, 1.5vw, 100px);

    @media (max-width: 720px) {
      flex-direction: column;
    }

    .about-content {
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 100%;

      h2 {
        text-shadow: 1px 1px 4px var(--background-terciary);
      }

      p {
        width: 70%;
        @media (max-width: 720px) {
          width: 100%;
        }
      }

      .links {
        gap: 20px;
        display: flex;

        i {
          color: var(--text-primary);
          font-size: var(--md);
        }
      }
    }

    .image-container {
      height: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      padding: 20px;
      gap: 20px;

      .information-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;

        .information {
          font-weight: 500;
          font-size: var(--sm);
          color: var(--text-primary);
          font-family: var(--font-text);
          border-radius: 12px;
        }
      }

      .image-profile {
        width: 250px;
        overflow: hidden;
        border-radius: 100%;
        border: 5px solid var(--background-terciary);
        box-shadow: 1px 1px var(--xs) var(--background-terciary);
        animation: image-profile 6s ease-in-out infinite;

        img {
          aspect-ratio: 9/9;
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }
    }
  }

  .projects {
    .projects-content {
      display: flex;
      /* padding: 5px; */
      gap: 10px;

      @media (max-width: 720px) {
        flex-direction: column;
      }

      .project-box {
        background-color: var(--background-secondary);
        box-shadow: 1px 1px 8px var(--shadow);
        border-radius: 12px;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        min-width: 33%;
        width: 100%;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(1.02);
          box-shadow: 1px 1px 4px var(--background-primary);
        }

        .project-image {
          background: linear-gradient(
            to bottom,
            var(--background-secondary),
            var(--background-terciary)
          );
          width: 100%;
          height: 150px;
          border-radius: 12px;
          display: flex;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .project-text {
          display: flex;
          flex-direction: column;
          height: 250px;
          width: 100%;
          padding: 10px 0;
          gap: 10px;

          h4 {
            font-size: var(--sm);
            font-family: var(--font-title);
            color: var(--text-primary);
          }

          p {
            font-size: var(--sm);
            color: var(--text-secondary);
          }

          .project-skills {
            display: flex;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;
            margin-top: auto;

            .project-skill {
              padding: 5px 12px;
              border-radius: 48px;
              background-color: var(--background-terciary);
              color: var(--light);
              font-family: var(--font-text);
              font-size: calc(var(--sm) - 2px);
            }
          }

          .actions {
            display: flex;
            width: 100%;
            gap: 20px;

            button {
              border-radius: var(--sm);
              padding: 12px clamp(var(--sm), 1.5vw, var(--md));
              font-size: clamp(var(--sm), 1.5vw, calc(var(--sm) + 2px));
              cursor: pointer;
              transition: transform 0.3s ease;
              font-family: var(--font-text);
              font-weight: 700;

              &:hover {
                transform: translateY(-5px);
              }

              &:first-child {
                background: linear-gradient(135deg, #240046, #0080af);
                color: var(--light);
                border: none;
              }

              &:last-child {
                background: transparent;
                border: 2px solid var(--background-terciary);
                color: var(--text-secondary);
              }
            }
          }
        }
      }
    }
  }

  .skills {
    margin: 10px;

    .skills-content {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      margin-top: 25px;

      .skills-card {
        border: 1px solid var(--background-terciary);
        padding: 20px 40px;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-weight: bold;
        transition: all 0.3s ease;
        width: clamp(120px, 15vw, 200px);

        &:hover {
          transform: scale(1.05);
          box-shadow: 1px 1px 8px var(--shadow);
        }

        i {
          font-size: var(--md);
          color: var(--background-terciary);
        }
      }
    }
  }

  .contact {
    .contact-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 30px;

      @media (max-width: 720px) {
        flex-direction: column;
      }

      .contact-card-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;

        .contact-card {
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;

          i {
            background-color: var(--background-terciary);
            color: var(--light);
            border-radius: 50%;
            padding: 10px 20px;
            align-items: center;
            justify-content: center;
            display: flex;
            font-size: var(--sm);
          }
        }
      }

      .contact-form {
        min-width: 40%;

        form {
          width: 100%;
          height: 100%;
          background-color: var(--background-secondary);
          box-shadow: 1px 1px 8px var(--shadow);
          border-radius: 16px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: clamp(1em, 1.5vw, var(--xl));

          input,
          textarea {
            background-color: var(--background-primary);
            border-radius: 12px;
            border: none;
            padding: 20px 10px;
            color: var(--text-primary);
            outline: none;
            transition: all 0.3s ease;

            &:focus {
              border: 1px solid var(--background-terciary);
            }
          }

          input:-webkit-autofill,
          input:-webkit-autofill:hover,
          input:-webkit-autofill:focus,
          textarea:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px var(--background-primary) inset;
            -webkit-text-fill-color: var(--text-primary);
            transition: background-color 9999s ease-in-out 0s;
          }

          textarea {
            resize: none;
            padding: 10px;
            min-height: 200px;
            max-height: 200px;
          }

          button {
            padding: 20px;
            margin-top: 20px;
            border: none;
            background: var(--background-terciary);
            box-shadow: 1px 1px 4px var(--background-terciary);
            border-radius: 16px;
            color: var(--light);
            font-size: var(--sm);
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--background-secondary);
  box-shadow: 1px 1px 8px var(--shadow);
}

@keyframes image-profile {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}
